.container {
  background-color: #ededed;
  width: 480px;
  max-width: 480px; /* Ensures it expands fully */
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

@media (width<=640px) {
  .container {
    width: 100%;
  }
}

.title {
  color: #000;
  font-family:
    Inria Serif,
    serif;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  top: 92px;
  left: 50%;
  transform: translateX(-50%); /* Center aligns text */
}

@media (width<=640px) {
  .title {
    font-size: 32px;
    left: 100px;
  }
}

.groupsContainer {
  flex-direction: column;
  padding: 157px 21px 50px; /* Added bottom padding */
  gap: 41px; 
  display: flex;
}

@media (width<=640px) {
  .groupsContainer {
    padding: 157px 15px 0;
  }
}
