/* .container {
  background-color: #f9f9f9;
  width: 390px; 
  height: 844px; 
  margin: 0;
  padding: 0; 
  position: relative;
}
 */
 
.container {
  min-height: 100vh;
  background-color: #fff;
  flex-direction: column;
  display: flex;
  align-items: center;
}


@media (width<=640px) {
  .container {
    width: 100%;
  }
}

.title {
  color: #000;
  font-family:
    Inria Serif,
    serif;
  font-size: 40px;
  font-weight: 700;
  position: relative;
  top: 35px;
  align-self: center;
}

@media (width<=640px) {
  .title {
    font-size: 32px;
  }
}

.groupsContainer {
  flex-direction: column;
  padding: 100px 20px 50px;
  gap: 40px;
  display: flex;
}

@media (width<=640px) {
  .groupsContainer {
    padding: 75px 15px 0;
  }
}
