.container {
  background-color: #f9f9f9;
  width: 390px; /* Set width to match the full viewport width */
  height: 844px; /* Set height to match the full viewport height */
  margin: 0;
  padding: 0; /* Remove margins to ensure full coverage */
  position: relative;
}

@media (width<=640px) {
  .container {
    width: 100%;
  }
}

.title {
  color: #000;
  font-family:
    Inria Serif,
    serif;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  top: 92px;
  left: 50%;
  transform: translateX(-50%);
}

@media (width<=640px) {
  .title {
    font-size: 32px;
    left: 100px;
  }
}

.groupsContainer {
  flex-direction: column;
  padding: 157px 21px 50px;
  gap: 41px;
  display: flex;
}

@media (width<=640px) {
  .groupsContainer {
    padding: 157px 15px 0;
  }
}
