/* .header {
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  padding: 21px 16px 0;
  display: flex;
  width: 100%;
}

 */

 .header {
  position: fixed; /* Sticks to the top */
  top: 0;
  left: 0;
  width: 100vw; /* Full width of the viewport */
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px; /* Adjusted for better visibility */
  padding: 10px 16px; /* Adjusted padding for consistency */
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
  z-index: 1000; /* Keeps it above other elements */
}

.time {
  color: #000;
  font-family:
    SF Pro,
    sans-serif;
  font-size: 17px;
}

.statusIcons {
  display: flex;
  align-items: center;
}

.statusLevels {
  width: 135px;
  height: 14px;
}