.header {
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    padding: 21px 16px 0;
    display: flex;
  }
  
  .time {
    color: #000;
    font-family:
      SF Pro,
      sans-serif;
    font-size: 17px;
  }
  
  .statusIcons {
    display: flex;
    align-items: center;
  }
  
  .statusLevels {
    width: 135px;
    height: 14px;
  }
  